api.nextbigmove.com {
  encode zstd gzip
  tls wetrade.frage@gmail.com
  reverse_proxy api:3001
}

erp.nextbigmove.com {
  encode zstd gzip
  tls wetrade.frage@gmail.com
  reverse_proxy web:3000
}

admin.nextbigmove.com {
  encode zstd gzip
  tls wetrade.frage@gmail.com
  reverse_proxy admin:3002
}
